<h2 style="text-align: center;">
    Greetings !!
</h2>

<h3>Hello <%= data.name %></h3>

<p>
    Your interview has been scheduled with us .Details of the same are given below:
    <ul>
        <li>Start : <%= data.start %></li>
        <li>End : <%= data.end %></li>
    </ul>
</p>

<p>
    Looking forward to meet you.<br>
    Thank you.
</p>